@media (max-width: 767px) {
  .o_mobile_hide,
  .o_mobile_hide ~ .o_form_label,
  .o_mobile_hide ~ .o_td_label,
  .o_form_label:has(+ .o_mobile_hide),
  .o_td_label:has(+ .o_mobile_hide),
  label:has(+ .o_mobile_hide),
  .o_form_label,
  .o_td_label {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .o_mobile_only {
    display: none !important;
  }
  .o_mobile_hide {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .o_hide_all {
    display: none !important;
  }
}
